#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#app {
  width: 80vh;
  height: 80vh;
  background-color: rgb(9, 81, 57);
  display:grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
}

#btn-cont {
  position: absolute;
}

.box {
  background-color: rgb(50, 49, 49);
}


.selected {
  background-color: rgb(65, 125, 102);
}

.end {
  background-color: yellow;
}

.mask {
  background-color: black
}

.player {
  background-color: red;
}