#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  background-color: #282a36;
  color: #ffb86c;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instructions-ctn {
  position: fixed;
  padding: 1rem 2rem;
  width: 80vh;
  background-color: lightslategray;
  opacity: 0.95;
}

h2, h3, h4 {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #ffb86c;
}

#obj {
  color: #ffb86c;
}

#app {
  width: 80vh;
  height: 80vh;
  margin-top: 0px;
  background-color: rgb(9, 81, 57);
  display:grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
}

#btn-cont {
  position: absolute;
}

.box {
  background-color: #6272a4;
}

.selected {
  background-color: #ff79c6;
}

.end {
  background-color: #ffb86c;
}

.mask {
  background-color: #44475a
}

.player {
  background-color: #ff5555;
}